<mat-card>
  <mat-card-title>
    Status History
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>

    <mat-grid-list cols="2" rowHeight="2:1" gutterSize="10px">
      <mat-grid-tile>
        <canvas id="air-temperature"></canvas>
      </mat-grid-tile>
      <mat-grid-tile>
        <canvas id="air-humidity"></canvas>
      </mat-grid-tile>
      <mat-grid-tile>
        <canvas id="soil-humidity"></canvas>
      </mat-grid-tile>
      <mat-grid-tile>
        <canvas id="illuminationEnabled"></canvas>
      </mat-grid-tile>

    </mat-grid-list>

  </mat-card-content>
</mat-card>
